/* assets/css/custom.css */
body {
  display: flex;
  flex-direction: row;
  background-color: #D3D3D3; /* Light Grey background */
  color: #000000; /* Black text */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.sidebar {
  width: 250px;
  padding: 20px;
  background: linear-gradient(135deg, #E6E6FA, #D8BFD8); /* Gradient from light lavender to lavender */
  color: #000000; /* Black text in sidebar */
  text-align: center; /* Center align the content in sidebar */
}

.sidebar-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 500; /* Medium weight for sidebar title */
  color: #000000; /* Black text */
}

.social-links {
  margin: 10px 0;
}

.social-links a {
  color: #000000; /* Black color for social links */
  text-decoration: none;
  margin: 0 5px;
}

.social-links a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #D3D3D3; /* Light Grey background */
  color: #000000; /* Black text */
}

.main-title {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 500; /* Medium weight for main title */
  color: #000000 !important; /* Black for main title */
}

img.profile {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* This makes the image round */
  margin-bottom: 10px;
  display: block; /* Ensures the image is displayed as a block element */
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000 !important; /* Black headings */
  font-weight: bold; /* Bold headings */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.nav-links {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Align nav links to the left */
}

.nav-links li {
  margin-bottom: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #4B0082; /* Lavender link color */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links ul {
  padding-left: 20px; /* Indent sub-links */
}

form {
  background: #D8BFD8; /* Lavender background */
  padding: 20px;
  border-radius: 5px;
}

form label, form input, form textarea {
  color: #000000; /* Black text */
  display: block;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000; /* Black border */
  background: #E6E6FA; /* Light Lavender background */
  color: #000000; /* Black text */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

form input[type="submit"] {
  background: #4B0082; /* Lavender background */
  border: none;
  cursor: pointer;
  color: #FFFFFF; /* White text */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

form input[type="submit"]:hover {
  background: #6A5ACD; /* Darker lavender on hover */
}
