/* assets/css/custom.css */
body {
  display: flex;
  flex-direction: column; /* Change layout to column */
  background-color: #f0f4f8; /* Light grey background */
  color: #333333; /* Dark grey text */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 100%;
  padding: 20px;
  background: linear-gradient(135deg, #4CAF50, #81C784); /* Gradient from green to light green */
  color: #ffffff; /* White text in sidebar */
  text-align: center; /* Center align the content in sidebar */
}

.sidebar-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 500; /* Medium weight for sidebar title */
  color: #ffffff;
}

.social-links {
  margin: 10px 0;
}

.social-links a {
  color: #ffffff; /* White color for social links */
  text-decoration: none;
  margin: 0 5px;
}

.social-links a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff; /* White background */
  color: #333333; /* Dark grey text */
}

.main-title {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 500; /* Medium weight for main title */
  color: #4CAF50 !important; /* Green for main title */
}

img.profile {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* This makes the image round */
  margin-bottom: 10px;
  display: block; /* Ensures the image is displayed as a block element */
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #4CAF50 !important; /* Green headings */
  font-weight: bold; /* Bold headings */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.nav-links {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Align nav links to the left */
}

.nav-links li {
  margin-bottom: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #388E3C; /* Dark green link color */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links ul {
  padding-left: 20px; /* Indent sub-links */
}

form {
  background: #81C784; /* Light green background */
  padding: 20px;
  border-radius: 5px;
}

form label, form input, form textarea {
  color: #333333; /* Dark grey text */
  display: block;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #A5D6A7; /* Light green border */
  background: #E8F5E9; /* Very light green background */
  color: #333333; /* Dark grey text */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

form input[type="submit"] {
  background: #4CAF50; /* Green background */
  border: none;
  cursor: pointer;
  color: #ffffff; /* White text */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

form input[type="submit"]:hover {
  background: #66BB6A; /* Lighter green on hover */
}
